<h1>Página de estadísticas</h1>

<h2>Número de preguntas: <%=statistics.n_preguntas %></h2>
<h2>Número de comentarios totales: <%=statistics.n_comentarios %></h2>
<h2>Promedio de comentarios: <%=statistics.promedio_comentarios %></h2>
<h2>Preguntas sin comentarios: <%=statistics.preg_sin_com %></h2>
<h2>Preguntas con comentarios: <%=statistics.preg_con_com %></h2>